 html, body {
  height: 100%;
  width: 100%;
}

canvas {

  width: auto;
  height: auto;
}


body {
   text-align: center;
  background: black;
}

h1, p {
    color: blueviolet;
}

h1 {
    font-size: 4rem;
    padding-top: 10rem;
    color: #008080;
}

h2 {
    font-size: 2rem;
    color: #008080;
}

.bigger-text {
  font-size: 1.5rem;
}

